html {
	margin: 0;
	padding: 0;
	}
body {
	font-family: verdana, helvetica, arial, sans-serif;
	margin: 0 20px 0 20px;
	color: #333;
/*	width:800px;*/
	background-color:#FFFDFD;
}


p {
	margin-top: 0;
	text-align: justify;
	}
pre {
	background-color:#E9E9E9;
	overflow-x:auto;
	white-space: pre-wrap;
	}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #8675AA;
	}
a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #9785BF;
	}
a:hover, a:focus, a:active {
	text-decoration: underline;
	color: #B7A5DF;
	}
abbr {
	border-bottom: none;
	}
#results,#resultbis {
	font-weight: bold;
	border: solid 1px green;
	border-radius: 5px;
}
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:10px 20px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:10px 20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border: solid 1px green;
	border-radius: 5px;
}

td:last-child {
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
