html {
	margin: 0;
	padding: 0;
	}
body {
	font-family: verdana, helvetica, arial, sans-serif;
	margin: 0 20px 0 20px;
	color: #333;
	width:800px;
	background-color:#FFFDFD;
}


p {
	margin-top: 0;
	text-align: justify;
	}
pre {
	background-color:#E9E9E9;
	overflow-x:auto;
	white-space: pre-wrap;
	}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #8675AA;
	}
a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #9785BF;
	}
a:hover, a:focus, a:active {
	text-decoration: underline;
	color: #B7A5DF;
	}
abbr {
	border-bottom: none;
	}
